.authpage_container {
  height: 100vh;
  display: grid;
  background-color: var(--bg);
  background-image: url('/auth.jpeg');
  background-size: cover;
  background-position: bottom;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  overflow: hidden;
  color: var(--text);

  &__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo {
      font-size: 18px;
      font-weight: 500;
    }

    &__title {
      text-transform: uppercase;
      font-size: 3vw;
      line-height: 3.8vw;
    }
  }

  &__right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
