.header {
  width: 100%;
  padding: 0rem 2rem;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: var(--bg);
  backdrop-filter: blur(8px);
}

.navbar {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  color: var(--text);
  background-color: transparent;

  &__title {
    font-size: 24px;
  }

  &__navlinks {
    display: flex;
    gap: 0.4rem;
    padding: 0.3rem 0.6rem;
    border-radius: 1.8rem;
    li {
      list-style-type: none;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--text);
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0rem 1.4rem;
    border-radius: var(--rounded-lg);
    font-weight: 600;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--bg);
      background-color: var(--text);
    }
    &--active {
      color: var(--bg);
      background-color: var(--text);
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    ul {
      display: none;
    }
  }
}
