.input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  input {
    border-radius: var(--rounded);
    border: 1px solid var(--border);
    background: var(--bg);
    color: var(--text-muted);
    font-size: 0.9rem;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
    height: 40px;

    &:focus {
      outline: none;
      background: var(--bg);
    }

    &::placeholder {
      color: var(--text-muted);
    }

  }

  &__error {
    color: var(--danger);
    font-size: 12px;
    padding-left: 0.4rem;
  }

  &--sm {
    max-width: 200px;
    input {
      padding: 0 1.5rem;
    }
  }

  &--md {
    max-width: 260px;
    input {
      padding: 0 1.4rem;
    }
  }

  &--lg {
    max-width: 320px;
    input {
      padding: 0 2rem;
    }
  }

  &--full{
    width: 100%;
    input{
      padding: 0 2rem;
    }
  }
}
